.token-container {
  margin: 0;
  padding: 1% 3%;
}

.heading {
  font-size: 28px;
  color: #000;
  font-weight: 600;
}

.text6 {
  font-size: 20px;
  color: #202020;
  font-weight: 600;
}

.pie-container {
  display: flex;
  height: 100%;
  width: 100%;
  margin-top: 2%;
}

.pie {
  height: 30%;
  width: 20%;
}

.label-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.color-dot {
  height: 15px;
  width: 15px;
  border-radius: 100px;
  margin-right: 10px;
}
.label {
  color: #424242;
  font-weight: 500;
}

.desc2{
  font-size: 18px;
  color: #606060;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .token-container {
    display: none;
  }
}
